<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="container" th:fragment="nav">
    <div class="logo">
        <a href="/index">
         管理员后台
        </a></div>
    <div class="left_open">
        <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
    </div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;" th:text="${session.user.username}"></a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a onclick="location.href = '/pwd/modify'">修改密码</a></dd>
                <dd>
                    <a href="/logOut">退出</a></dd>
            </dl>
        </li>
    </ul>
</div>
</body>
</html>